# Hugo
/public/
/resources/_gen/

# Hugo themes if you use submodules
/themes/*

# OS and editor junk
.DS_Store
Thumbs.db

# Node.js stuff (если вдруг используете npm для плагинов)
node_modules/
package-lock.json
yarn.lock

# VS Code settings
.vscode/