<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="{{ "css/styles.css" | relURL }}">
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="background-gradient-wrapper">
      <div class="background-gradient"></div>
    </div>

    <header>
      <img src="images/header.jpeg" alt="header" class="header-image" />
    </header>

    <main>
      {{ block "main" . }}{{ end }}
      <div class="background"></div>
    </main>

    <footer></footer>

    <script>
      window.addEventListener("scroll", function () {
        const speedFactor = 0.25;
        const backgroundPositionY = -window.pageYOffset * speedFactor;
        document.querySelector(".background").style.backgroundPositionY = `${backgroundPositionY}px`;
      });
    </script>
  </body>
</html>
